<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945941222569-a6a7dgo3p1dkq37tudrcs8ros6ckdhf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945941222569-a6a7dgo3p1dkq37tudrcs8ros6ckdhf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>945941222569-b0gn4mb0gs0g9c0qpmmb59dlgqpdptq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0TvOihh5RNxVjLEhCwrf9llxofRtSNOc</string>
	<key>GCM_SENDER_ID</key>
	<string>945941222569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsChat</string>
	<key>PROJECT_ID</key>
	<string>laravel-169314</string>
	<key>STORAGE_BUCKET</key>
	<string>laravel-169314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945941222569:ios:a0bd5353c6099adc9845b8</string>
	<key>DATABASE_URL</key>
	<string>https://laravel-169314.firebaseio.com</string>
</dict>
</plist>